
@{
    ViewBag.Title = "Index";
}

<h2>Member Tracker Home Page</h2>
<a class="btn btn-primary" href="/Members">Members</a>
<a class="btn btn-success" href="/Events">Events</a>
<a class="btn btn-danger" href="/Committees">Committees</a>
